# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#Borland specific configuration
*.~*
*.ddp
*.exe
*.mak
*.tds
src/obj
src/database